/* The Global Rules */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media(min-width:768px) {
    .container{
        width: 750px;
    }
}
@media(min-width:992px) {
    .container{
        width: 970px;
    }
}
@media(min-width:1200px) {
    .container{
        width: 1170px;
    }
}

body {
    font-family: "Work Sans" ,sans-serif;
} 
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.heading {
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: -4px;
    margin: 0;
}
.heading + p {
    margin:-30px 0 ;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
@media(max-width:768px){
    .heading {
        font-size: 60px;
    }
    .heading + p {
        margin: -15px 0;
    }
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
    .image {
        text-align: center;
    }
    
}
/* Start the header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover span:nth-child(2) {
    width: 100%;
}
.icon {
    width :30px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 1.5px;
    width: 100%;
}
.icon span:nth-child(2) {
    width: 50%;
    transition: .3s;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0; 
    min-width: 200px;
    top: calc(100% + 20);
    display: none;
    z-index: 1;
}
.header.links ul::before {
    content: "";
    right: 5px;
    top: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
}
.header .links:hover ul {
    display: block ;
}
.links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: .3s;
    color: #333;
}
.links ul li a:hover {
    padding-left: 25px;
}
.links ul li:not(:last-child) a {
    border-bottom: 1px solid black;
}
/* Start The Landing */
.landing {
    background-image: url("../image/mountain.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold ;
    font-size: 50px;
}
.intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End The Landing */

/* Start The Features */
.features  {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-color: #f6f6f6;
    
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.feet .icon {
    font-size: 30px;
    color: var(--main-color);
}
.feet h3 {
    font-weight: 800px;
    margin: 30px 0;
}
.feet p {
    line-height: 1.8;
    font-size: 17px;
    color: #777;
}
/* Start Services  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .col {
    display: flex; 
    margin-bottom: 40px;
}
.services .services-content .srv .text {
    flex: 1;
}
.srv .text {
    margin-top: 20px;
}
.srv .text h3 {
    margin: 0 0 20px;
}
.srv .text p {
    color: #444 ;
    font-weight: 300;
    line-height: 1.8;
}
.srv .image {
    text-align: center;
    position: relative;
}
services .services-content .image-column::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
  } 
  .services .services-content .image img {
    width: 260px;
  }
.srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

/* End Services */

/* Start Protfolio */
.protfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.protfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 0 30px;
    margin-top: 100px;
} 
.protfolio .protfolio-content .card {
    background-color: white;
}
.protfolio .protfolio-content .card img {
    width: 100%;
}
.protfolio .protfolio-content .card .info {
    padding: 20px; 
}
.protfolio-content .card .info h3 {
    margin: 0;
}
.protfolio-content .card .info p {
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}
/* End Portfolion */
/* Start About Section */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content img {
    position: relative;
    width: 250px;
    height: 375px;
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
  }
  .about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
  }
  .about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
  }
  .about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
  }
  /* End About */
  .contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }
  .contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin-top: 100px;
    text-align: center;
  }
  .contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
  }
  .contact .info .link {
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    display: block;
    text-decoration: none;
  }
  .contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
  }
  .contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
  }
  /* End Contact Section */
  /* Start Footer */
  .footer {
    padding: 30px 20px;
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    font-size: 18px;
  }
 .footer span {
    color: var(--main-color);
    font-weight: bold;
 }
 /* End The Project */